

body{
    font-family: 'Iceland', cursive;
    color:#FFFFFF;
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 100vh;
}


.containerdiv{
position: fixed;
background-image: url(../assets/Multimedia/imgs/Fondo_01.jpg);
background-size: cover;
width:200vh;
height: 100vh;
left:35vh;
top:0px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;

}
.LeftHover{
font-family: 'Iceland';  
font-size: 20px;
position: fixed;
width: 35vh;
height: 100vh;
left: 0px;
top: 0px;
background: #171717;
backdrop-filter: blur(2px);
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: 10px;


}
.titulo{
background-image: linear-gradient(to right, #FFFF, #B154D2);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.Cardpage{
position: relative;
}
.btn-Card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 25vh;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: #420A47;
    color: white;
    font-size: 25px;
    font-family: 'Iceland', cursive;
    border: 1px solid transparent;
    
}
.btn-Card img{
padding-right: 5px;

}
.btn-Card h1{
font-size: 25px;
font-weight: lighter;
}
.CardIcon{
    display: inline-block;
    width: 40px;
    height: 40px;

}
.addBttn{
    background-image: url(../assets/Multimedia/imgs/Icon-upload.png);
    display: flex;
    width: 140px;
    height: 140px;
    background-color: transparent;
    background-size: cover;
    border: transparent;
}
.divUpload{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    border-bottom:  2px solid white;
    margin-top: 75%;

}
.Upload{
    font-size: 40px;
    font-weight: lighter;
}
