.profilePageDiv {
  background-image: url(../assets/Multimedia/imgs/Fondo_002.png);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  left: 0%;
  top: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.containerPerfil {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.lblUser {
  font-size: 80px;
  width: 100%;
  height: 80px;
  text-align: center;
  text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
}

.imgUserProfile {
  display: flex;
  justify-content: center;
}

.imgPhotoProfile {
  clip-path: polygon(49% 0, 93% 29%, 100% 79%, 48% 100%, 0 79%, 6% 31%);
  height: 300px;
  width: 210px;
}

.divLabels {
  margin-top: 20px;
  width: 200%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;
  font-size: 30px;
}

.lblFollowers {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #161616;
  box-shadow: 24px 9px 6px rgba(0, 0, 0, 0.37);
  border-radius: 16px;
  gap: 3%;
}

.lblPost {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #161616;
  box-shadow: 24px 9px 6px rgba(0, 0, 0, 0.37);
  border-radius: 16px;
  gap: 3%;
}

.lblFollowinf {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #161616;
  box-shadow: 24px 9px 6px rgba(0, 0, 0, 0.37);
  border-radius: 16px;
  gap: 3%;
}
.txtMorao {
  color: #be06ff;
}
.DivContainerPubli {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 40px;
}

.publiPerfil {
  background-color: black;
  height: 250px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.PhotoPerfil {
  height: 60%;
  width: 80%;
  border: 2px solid white;
}
.iconsPubli {
  height: 40px;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.25));
  padding: 10px;
  gap: 10px;
}
.iconsPubli button {
  background-color: transparent;
  width: 60px;
  height: 60px;
  border: transparent;
}
.iconsPerfil {
  width: 30px;
  height: 30px;
}
.GoHome {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 2%;
  top: 2%;
  background-color: #420a47;
  border-radius: 8px;
  border: transparent;
  transition: background 0.5s ease;
}
.GoHome2 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 70%;
  top: 2%;
  background-color: #420a47;
  border-radius: 8px;
  border: transparent;
  transition: background 0.5s ease;
}
.GoHome:hover {
  background: #dd0068;
}
.GoHome img {
  width: 40px;
  height: 40px;
}
